#timetable {
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#adminconsolebutton {
  margin-left: auto;
  margin-right: 5px;
  padding: 5px;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: dimgrey;
}
#adminconsolebutton :active {
  background-color:darkcyan;
}
table, th, td {
  border: 2px solid;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
th {
  background: #ddd;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#internetstatus {
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.on {
  color: green;
  background-color: lightgreen;
  font-weight: bold;
}
.off {
  color: red;
  background-color: pink;
  font-weight: bold;
}