p {
  font-family: Arial, Helvetica, sans-serif;
}
#timetable {
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
div.head {
  width: 180px;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: dimgrey;
  font-weight: bold;
}
div.head:hover {
  background-color:grey;
}
div.head:active {
  background-color:darkcyan;
}
div.alertwindow {
  width: max-content;
  height: max-content;
  position: fixed;
  background-color:aliceblue;
  padding: 10px 30px;
  border: 2px solid black;
  inset: 0px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
div.alertwindow h2 {
  margin-top: -10px;
}
div.close {
  user-select: none;
  text-align: right;
  border: 2px solid black;
  width: max-content;
  padding: 0px 4px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: dimgrey;
  color: white;
  margin-left: auto;
  margin-right: -20px;
}
div.close:hover {
  cursor: pointer;
  background-color:grey;
}
div.close:active {
  background-color:darkcyan;
}
a.head {
  text-decoration: none;
  width: 194px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-flex;
}
form {
  display: flex;
  flex-direction: column;
}
form button {
  width: max-content;
  padding: 5px 20px;
  align-self: center;
  border: 2px solid black;
  background-color: dimgrey;
  color: white;
  font-weight: bold;
}
form button:hover {
  cursor: pointer;
  background-color:grey;
}
form button:active {
  background-color:darkcyan;
}
div.inputoption {
  display: flex;
  padding: 10px;
}
div.inputoption label {
  padding: 10px;
}
div.inputoption input {
  margin-left: auto;
}
table, th, td {
  border: 2px solid;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
th {
  background: #ddd;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#internetstatus {
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.on {
  color: green;
  background-color: lightgreen;
  font-weight: bold;
}
.off {
  color: red;
  background-color: pink;
  font-weight: bold;
}

footer {
    position:fixed;
    bottom:0;
}